@import 'base';
@import 'extends';
@import 'mixins';


header{
  display: flex;
  width: 1800px;
  height: 150px;
  margin: auto;
  justify-content: space-between;
  align-items: center;

  h1{
    font-size: 45px;
  }

  ul{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;

    li{
      cursor: pointer;
      font-size: 25px;
      

      &:hover{
        color: green;
        text-shadow:1px 1px 2px white;
      }
    }
    }

  
  #icons{
    display: flex;
    width: 200px;
    justify-content: space-between;

    #instagram{
      @include icon-color(instagram)
      }

    #twitter{
      @include icon-color(twitter)
    }

    #youtube{
      @include icon-color(youtube)
    }

    #facebook{
      @include icon-color(facebook)

    }


    i{
      cursor: pointer;
  
    }


}

}

#images{
  margin-top: 150px;
  
  div{
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height: 2200px;
    margin: auto;
    justify-content: space-evenly;

    #city{
      @extend %image;
      @include border(city);
    }

    #game{
      @extend %image;
      @include border(game);
    }

    #animal{
      @extend %image;
      @include border(animal);
    }

    #architecture{
      @extend %image;
      @include border(architecture);
    }

    #gastronomy{
      @extend %image;
      @include border(gastronomy);
    }

    #sport{
      @extend %image;
      @include border(sport);
    }

    figure{
      position: relative;
      &:hover{
        transform: scale(1.1,1.1);

        }

    span{
      @extend %card;

    }

    }
  }
}

footer{
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: grey;
  align-items: center;
  margin-top: 100px;
}